@font-face {
  font-family: 'Baloo Bhaijaan 2';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('static/BalooBhaijaan2-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('static/BalooBhaijaan2-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url('static/BalooBhaijaan2-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('static/BalooBhaijaan2-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src: url('static/BalooBhaijaan2-ExtraBold.ttf') format('truetype');
}
